sidebar {
  background: #333;
  position: absolute;
  transition-duration: 0s;
  display: block;
  height: 100%;
  top: 0;
  width: 100%;
  padding-left: 30%;
  transform: translate3d(0, 0, -300px);
}

sidebar-items {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 56px;
}

sidebar-item {
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

sidebar-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

sidebar-label {
  display: block;
  font-size: 16px;
  color: #eee;
}
